In [1]:
# Let's go for a dip with Python

# this is a string

In [2]:
# this is a string

In [3]:
print ("this is a string")

this is a string

In [4]:
print ("\"this is a string\"")

"this is a string"

In [5]:
# Ready to splash a little with Python

In [6]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
a = list(range(1,20))
x = sum(a)
print(x)

190

In [8]:
# Paddling with Python

In [9]:
arr = ["Jack", "Queen", "King"]
print(arr[0])
print(arr[1])
print(arr[2])

Jack
Queen
King

In [10]:
d = {'employee': 'Juanita Lopez','salary':81000, 'startdate': '2010-11-1'}
e = {'employee': 'Peter Gynn','salary':83400, 'startdate': '2008-3-25'}
f = {'employee': 'Jolie Talofa','salary':96800, 'startdate': '2007-3-14'}
print (d)
print (e)
print (f)

{'employee': 'Juanita Lopez', 'salary': 81000, 'startdate': '2010-11-1'}
{'employee': 'Peter Gynn', 'salary': 83400, 'startdate': '2008-3-25'}
{'employee': 'Jolie Talofa', 'salary': 96800, 'startdate': '2007-3-14'}

In [11]:
d.keys()

dict_keys(['employee', 'salary', 'startdate'])

In [12]:
d.values()

dict_values(['Juanita Lopez', 81000, '2010-11-1'])

In [13]:
d.items()

dict_items([('employee', 'Juanita Lopez'), ('salary', 81000), ('startdate', '2010-11-1')])

In [14]:
for k,v in d.items():
    print(k, v)

employee Juanita Lopez
salary 81000
startdate 2010-11-1

In [15]:
for k,v in e.items():
    print(k, v)

employee Peter Gynn
salary 83400
startdate 2008-3-25

In [16]:
# Swimming with Python

In [17]:
# -*- coding: iso-8859-1 -*-
en_de = {"red" : "rot", "blue" : "blau", "yellow" : "gelb"}
print (en_de)

{'red': 'rot', 'blue': 'blau', 'yellow': 'gelb'}

In [18]:
print (en_de["red"])

rot

In [19]:
de_fr = {"rot" : "rouge", "blau" : "bleu", "gelb" : "jaune"}
print ("The French word for red is: " + de_fr[en_de["red"]])

The French word for red is: rouge